html,
body {
  margin: 0;
  padding:0;
  max-width: 100%;
  font-family: "Six Caps", sans-serif;
  font-size: 100%;
  background-repeat: no-repeat;
  box-sizing: border-box;
}

.jumbotron {
    overflow-y: auto;
    height: auto;
    margin: auto;
    display: flex;
    display: center;
    justify-content: center;
    text-align: center;
  }
.header-logo {
    float: center;
}

.search {
    float: right;
    border-radius: 5px;
    margin-left: 20px;
}

.thumbnail {
box-shadow: 1px 5px 15px 2px black;
}